* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: relative;
  width: 100vw;
  height: 15vh;
  padding: 2em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 18px;
  border-bottom: solid 2px rgb(37, 37, 37);
  background-color: white;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav-items a:hover {
  text-decoration: underline;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  font-family: 'Montserrat';
  color: rgb(66, 66, 66);
  text-align: center;
  width: 100vw;
}

.head {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-shadow: 0 0 20px rgba(37, 37, 37, 0.484);
}

.tagline {
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 20px rgba(37, 37, 37, 0.484);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all ease-in-out 0.3s;
  background-color: rgb(37, 37, 37);
}

img {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;  
  object-fit: cover;
  opacity: 0.4;
}

@media (max-width: 880px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-items {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    gap: 1em;
    height: 90vh;
    width: 100%;
    text-align: center;
    transition: all ease 0.3s;
    background-color: rgb(37, 37, 37);
    color: white;
  }

  .nav-items a {
    font-size: 15px;
  }

  .nav-items.active {
    left: 0;
  }
}

@media (max-width: 768px) {
  .head {
    font-size: 60px;
  }
  .tagline {
    font-size: 15px;
  }
}





.main-cursor {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #000000;
  transition: all ease 0.2s;
  pointer-events: none;
  transform-origin: center center;
  z-index: 1000;
  margin-left: -20px;
  margin-top: -20px;
}

.grow-small, .grow-big, .grow-mid {
  transform: scale(1.8);
  background-color: white;
  border: none;
  mix-blend-mode: difference;
}

.grow-big {
  transform: scale(5);
}

.grow-mid {
  transform: scale(2.5);
}
